.search{
    width: 273px;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #818181;
    position: relative;
    padding-left: 14px;
    padding-right: 13px;
    input{
        color:white;
        border: none;
        background-color: inherit;
        font-size: 14.14px;
        line-height: 14.1px;
        letter-spacing: 0.57px;
        &::-webkit-input-placeholder{
            color: white;
        }
        &::-moz-placeholder{
            color: white;
        }
        &:focus{
            outline: none;
        }
    }
    .searchLogo{
        width: 25px;
        height: 25px;
    }
        &::before, &::after{
        content: "";
        width: 1px;
        height: 6px;
        background-color: #8c8c8c;
        position: absolute;
        bottom: -1px;

    }
    &::before{

        left: -1px;
    }
    &::after{
        right: -1px;
    }
}   