@import './reset.scss';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

html{
    max-width: 1980px;
    body {
        overflow-x: hidden;
        width: 100%;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14.14px;
        letter-spacing: 0.57px;
        line-height: 14.1px;
        #root{
            width: 100%;
            overflow-x: hidden;
        }
        h1,h2,h3{
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
        }
    }
}
