.headerCenter{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .headerCenterTextBlock{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .firstHeaderBackground{
            border-top: 1px solid #C8A87B;
            background-color: rgba($color: #C8A87B, $alpha: .3);
            width: 675px;
            height: 100px;
            text-align: center;
            padding-top: 30px;
            box-sizing: border-box;
            span {
                color: #F8E3C4;
                font-size: 22.22px;
                line-height: 22.2px;
                letter-spacing: 40;
                font-weight: bolder;
            }
        }

        h1{
            color: white;
            width: 670px;
            font-size: 60.6px;
            font-weight: 500;
            line-height: 66px;
            letter-spacing: 3px;
            max-width: 960px;
            text-align: center;
            margin-top: -30px;
        }
    }
    .imageHeaderCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

}
