.companyDescription{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .titleDescription{
        height: 574px;
        background-image: url('../../../assets/DescriptionPhon1.png');
        background-repeat: no-repeat;
        padding-left: 100px;
        padding-top: 100px;
            h2{
                max-width: 833px;
                font-size: 3rem;
                line-height: 74px;
                letter-spacing: 3.88px;
                &:first-child{
                    color: #47A62A;
                    font-size: 5rem;
                    line-height: 80.8px;
                    letter-spacing: 4.85px;
                    text-transform: uppercase;
                    margin-bottom: 64px;
                }
        }
    }
    
}