.navigationGroup{
    display: flex;
    flex-direction: row;
    column-gap: 45px;
    a{
        color: white;
        font-size: 15px;
        letter-spacing: 0.57px;
        line-height: 28px;
        font-weight: 600;
        text-decoration: none;
        align-self: center;
        &:hover{
            color: #C8A87B;
            cursor: pointer;
        }
    }
    button{
        font-size: 15px;
        line-height: 28px;
        font-weight: 600;
    }
}