.description{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    h2{
        font-size: 64px;
        letter-spacing: 0.6%;
        line-height: 74px;
    }

    p{
        font-size: 20px;
        line-height: 28px;
    }
}