header {
    background-image: url('../../assets/1642285005_44-bigfoto-name-p-krasivie-doma-iz-dereva-proekti-78.png');
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}   
