.news {
    background-image: url('../../../assets/black-and-white-pattern-ttwpaopov13p8u8m.png');
    height: 628px;
    text-align: center;
    padding-top: 90px;
    position: relative;
    h2{
        font-size: 64.64px;
        line-height: 64.6px;
        letter-spacing: 3.88px;
        text-transform: uppercase;
    }
}