.sliderItems{
    box-sizing: border-box;
    width: 1420px;
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 70px;

    &::-webkit-scrollbar{
        height: 4px;
        background-color: #E6E6E6;

    }
    &::-webkit-scrollbar-thumb{
        height: 4px;
        background-color: #47A62A;
        &:hover{
            cursor: pointer;
        }
    }
    &::-webkit-scrollbar-track{
        height: 2px;
    }
}