.navigationTopComponent{
    padding-top: 19.15px;
    padding-bottom: 19.84px;
    padding-left: 260px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .graphicAndContactBox{
        display: flex;
        flex-direction: row;
        column-gap: 100px;
    }

    .searchAndSignBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 130px;
    }
}
